* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

main {
  padding-bottom: 51.2px; /* pour laisser la place au footer */
}

footer {
  /* pour qu'il reste sticky en bas */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

#initialesEquipe {
  text-transform:uppercase;
}

.fa-user {
  color: white;
}

.navbar-nav li {
  margin-right: 1rem;
}

.navbar-nav li:hover {
  background-color: rgb(0, 0, 0);
}

a.list-group-item {
  padding-right: 8px;
}

span.text-uppercase {
  font-size: 12px;
  color: gray;
}

.v-divider {
  margin-left: 5px;
  margin-right: 5px;
  width: 1px;
  height: 100%;
  border-left: 1px solid gray;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

/* pour le bouton jaune qui te ramène en haut de la page */
#btop {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 70px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btop::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#btop:hover {
  cursor: pointer;
  background-color: #333;
}
#btop:active {
  background-color: #555;
}
#btop.show {
  opacity: 1;
  visibility: visible;
}

#logo_container {
  width: 200px;
  height: 111px;
}

#logo_container img {
  max-width: 100%;
  max-height: 100%;
}

/* pour le sidebar */
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
